.header__cart-logo {
    background-image: url(../../../images/basket\ 1.svg);
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}
@media screen and (max-width: 1210px) {
    .header__cart-logo {
        width: 50px;
        height: 50px;
    }
}
