.price__value {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
}