.image__tovar {
    background-image: url(../../../images/nootris.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 224px;
    height: 635px;

    position: absolute;
    top: 62px;
    right: 160px;

    z-index: 1;
}
@media screen and (max-width: 910px) {
    .image__tovar {
        right: 20px;
    }
}
@media screen and (max-width: 645px) {
    .image__tovar {
       display: none;
    }
}