.price__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 59px 0 64px;
}
@media screen and (max-width: 605px) {
    .price__list {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 59px 0 40px;
    }
}