.promo__subtitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    color: #000000;
    
    width: 416px;
    margin-bottom: 16px;

    position: relative;
    z-index: 2;
}
@media screen and (max-width: 680px) {
    .promo__subtitle {
        width: 350px;
    }
}
@media screen and (max-width: 645px) {
    .promo__subtitle {
       margin: 0;
       text-align: center;
    }
}
@media screen and (max-width: 350px) {
    .promo__subtitle {
        width: 100%;
     }
}