.price__item-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: -33px 0 8px;
}