.header__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

@media screen and (max-width: 1210px) {
    .header__list {
        display: none;
    }
}