.price__title {
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 85px;
    text-transform: uppercase;
}