.image__lemon {
    background-image: url(../../../images/Lemon.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 533px;
    height: 462px;

    position: absolute;
    top: 441px;
    right: 243px;

    z-index: 1;
}
@media screen and (max-width: 910px) {
    .image__lemon {
        right: 150px;
        width: 410px;
        height: 365px;
    }
}
@media screen and (max-width: 680px) {
    .image__lemon {
        display: none;
    }
}