.promo__container {
    height: 792px;
    background-image: url(../../../images/fone.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 645px) {
    .promo__container {
        height: fit-content;
    }
}