.promo__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0 0 120px;

    width: 672px;
    height: 54px;

    position: relative;
    z-index: 2;
}
@media screen and (max-width: 1177px) {
    .promo__text {
        width: 400px;
        height: 54px;
    }
}
@media screen and (max-width: 1040px) {
    .promo__text {
        margin-top: 70px;
    }
}
@media screen and (max-width: 910px) {
    .promo__text {
        width: 300px;
        height: 54px;
    }
}
@media screen and (max-width: 680px) {
    .promo__text {
        font-size: 18px;
        line-height: 21px;
    }
}
@media screen and (max-width: 645px) {
    .promo__text {
        margin: 40px 0;
        text-align: center;
    }
}
@media screen and (max-width: 350px) {
    .promo__text {
        width: 100%;
    }
}